<tr>
  <td><%= order.id + Order::START_ID %></td>
  <td class='<%= order.status == 'Заказано' ? 'status_not_delivery' : 'status_delivery' %>'><%= order.status %></td>
  <td><%= order.region %></td>
  <td><%= order.delivery %></td>
  <td><%= number_to_currency(real_price(order), unit: 'грн.', format: '%n %u') %></td>
  <td><%= order.updated_at.localtime.strftime("%b %d '%Y, %H:%M") %></td>
  <td>
    <%= link_to 'Show', admin_order_path(order.id), class: 'btn btn-small btn-primary' %>
    <%= link_to 'Delete', admin_order_path(order.id), method: :delete, confirm: 'Вы уверены что хотите удалить заказ?', class: 'btn btn-small btn-danger' %>
  </td>
</tr>
