<div class='wrapper_for_orders'>
  <div class='adm_info'>

    <%= render 'orders/order_table',  order: @order,
                                      line_items: @order.line_items,
                                      cart: @order,
                                      line_items_count: @order.line_items.sum(:quantity),
                                      total_price: @order.total_price,
                                      payment_method: @order.payment_method %>

    <%= form_for([:admin, @order], method: :put) do |f| %>
      <%= f.text_area :adm_info, rows: '5', placeholder: 'Заметки для Администрации...' %>
      <div class="clear"></div>
      <%= f.select :status, Order::STATUSES %>
    <% end %>
  </div>
  <dl>
    <dt>Статус заказа:</dt>
    <dd class="<%= 'un_' if @order.status == 'Заказано' %>successfully"><%= @order.status %></dd>
    <% if @order.adm_info.present? %>
    <dt>Информация для администратора</dt>
    <dd class="successfully"><%= @order.adm_info %></dd>
    <% end %>
    <hr>
    <%= render 'order_info_table' %>
  </dl>

  <%= link_to '« Назад к продуктам', orders_path, class: 'btn btn-inverse' %>
  <%= link_to 'Обновить', '#', class: 'btn btn-primary', onclick: "$('form').submit()" %>
</div>
