<tr>
  <td><%= colour.id %></td>
  <td><%= colour.name %></td>
  <td><%= rus_name colour %></td>
  <td><%= rus_main colour.main %></td>
  <td class='color'>
    <div>
      <select data-placeholder="Выберите цвет..." class="chosen-select" multiple tabindex="4" style="width:520px;">
        <%= options_for_select(Colour::COMMON_COLORS_RUS, colour.common_colors.keys) %>
      </select>
    </div>
  </td>
  <td>
    <%= link_to 'V', '#', class: 'btn btn-warning accept_color', data: { id: colour.id } %>
    <%= link_to 'Edit', edit_admin_colour_path(colour.id), class: 'btn btn-info' %>
  </td>
</tr>
