<tr>
  <td><%= colour.name %></td>
  <td><%= rus_name colour %></td>
  <td id='color'>
    <div>
      <select data-placeholder="Выберите цвет..." class="chosen-select" multiple tabindex="4" style="width:200px;">
        <%= options_for_select(Colour::COMMON_COLORS_RUS, @common_colors.keys) %>
      </select>
    </div>
  </td>
  <%= Rails.logger.info colour.materials %>
  <td  id='material'>
    <div>
      <select data-placeholder="Выберите материал..." class="chosen-select" multiple tabindex="4" style="width:200px;">
        <%= options_for_select(Colour::MATERIAL, @materials.keys) %>
      </select>
    </div>
  </td>
  <td id='zipper'>
    <div>
      <select data-placeholder="Способ закрытия..." class="chosen-select" multiple tabindex="4" style="width:200px;">
        <%= options_for_select(Colour::CLOSING_TYPE, @zippers.keys) %>
      </select>
    </div>
  </td>
  <td id='feature'>
    <div>
      <select data-placeholder="Особенности..." class="chosen-select" multiple tabindex="4" style="width:200px;">
        <%= options_for_select(Colour::FEATURES, @features.keys) %>
      </select>
    </div>
  </td>
  <td>
    <%= link_to 'V', '#', class: 'btn btn-warning accept_color', data: { id: colour.id } %>
    <%= link_to 'Edit', edit_admin_colour_path(colour.id), class: 'btn btn-info' %>
  </td>
</tr>
