<div id='main_menu'>
  <ul id="sdt_menu" class="sdt_menu">
    <li id='all_products'>
      <a href="/products">Все товары</a>
    </li>
    <li>
      <a href="/products", data-filters='{"gender":"Mens,Unisex"}' }>
        <%= image_tag('1.jpg') %>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">Для него</span>
          <span class="sdt_descr">Мужская продукция</span>
        </span>
      </a>
    </li>
    <li>
    <a href="/products", data-filters='{"gender":"Womens,Unisex"}' }>
        <%= image_tag('2.jpg') %>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">Для неё</span>
          <span class="sdt_descr">Женская продукция</span>
        </span>
      </a>
    </li>
    <li>
      <a href="/to_order">
        <%= image_tag('3.jpg') %>
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Как заказать</span>
					<span class="sdt_descr">Условия доставки</span>
				</span>
      </a>
    </li>
    <li>
      <a href="/delivery">
        <%= image_tag('4.jpg') %>
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Доставка</span>
					<span class="sdt_descr">Способы доставки</span>
				</span>
      </a>
    </li>
    <li>
      <a href="/contacts">
        <%= image_tag('5.jpg') %>
        <span class="sdt_active"></span>
				<span class="sdt_wrap">
					<span class="sdt_link">Контакты</span>
					<span class="sdt_descr">Обратная связь</span>
				</span>
      </a>
    </li>
  </ul>
</div>
<div class="clear"></div>
