<div id="menu_bar">
  <div id="breadcrumb">
    <ul>
      <li><a href="/">На главную</a></li>
      <li>&raquo; Карта сайта</li>
    </ul>
    <div class="clear"></div>
  </div>

  <div class="menu">
    <div class="header">
      Карта Сайта
    </div>

    <div class="section">
      <ul>
        <li><%= link_to 'О нас', about_us_path, class: current_page(about_us_path) %></li>
        <li><%= link_to 'Акции', action_path, class: current_page(action_path) %></li>
        <li><%= link_to 'Как заказать', to_order_path, class: current_page(to_order_path) %></li>
        <li><%= link_to 'Гарантии', warranties_path, class: current_page(warranties_path) %></li>
        <li><%= link_to 'Вопрос/Ответ', faqs_path, class: current_page(faqs_path) %></li>
        <li><%= link_to 'Доставка', delivery_path, class: current_page(delivery_path) %></li>
        <li><%= link_to 'Конфиденциальность', policy_path, class: current_page(policy_path) %></li>
        <li><%= link_to 'Отзывы', reviews_path, class: current_page(reviews_path) %></li>
        <li><%= link_to 'Контакты', contacts_path, class: current_page(contacts_path) %></li>
        <li><%= link_to 'Материалы', materials_path, class: current_page(materials_path) %></li>
      </ul>
    </div>
  </div>
</div>