<div class="questions">
  <div class="votes_logo"></div>
  <div class="question">
    Какую цену вы готовы заплатить за парфюм? ( грн )
  </div>
  <%= form_for @ratings, url: ratings_path do |f| %>
    <div class="list_of_price">
      <%= f.radio_button('point', '1') %>
      <%= f.label :point, 'до 150' %>
    </div>
    <div class="list_of_price">
      <%= f.radio_button('point', '2') %>
      <%= f.label :point, '150 < 200' %>
    </div>
    <div class="list_of_price">
      <%= f.radio_button('point', '3') %>
      <%= f.label :point, '200 < 350' %>
    </div>
    <div class="list_of_price">
      <%= f.radio_button('point', '4') %>
      <%= f.label :point, '350 < 400' %>
    </div>
    <div class="list_of_price">
      <%= f.radio_button('point', '5') %>
      <%= f.label :point, '400 < 500' %>
    </div>
    <div class="list_of_price">
      <%= f.radio_button('point', '6') %>
      <%= f.label :point, '500+' %>
    </div>
    <div class="list_of_price">
      <%= f.radio_button('point', '7') %>
      <%= f.label :point, 'Цена не важна' %>
    </div>

    <%= f.submit 'Отправить', id: 'subm_vote' %>
  <% end %>
</div>