<div class="questions">
  <div class="votes_logo"></div>
  <div class="question">
    Каким способом Вам удобно оплачивать заказ?
  </div>

  <div class='progress_table'>
    Наложенный платеж
    <span>(<%= @hash_with_counts['1'] %>)</span>
    <div class="progress_bar">
      <div class="bar" style="width: <%= @hash_with_percentege['1'] %>%"></div>
    </div>
    Приват банк (терминал)
    <span>(<%= @hash_with_counts['2'] %>)</span>
    <div class="progress_bar">
      <div class="bar" style="width: <%= @hash_with_percentege['2'] %>%"></div>
    </div>
    Webmoney
    <span>(<%= @hash_with_counts['3'] %>)</span>
    <div class="progress_bar">
      <div class="bar" style="width: <%= @hash_with_percentege['3'] %>%"></div>
    </div>
    Яндекс-деньги
    <span>(<%= @hash_with_counts['4'] %>)</span>
    <div class="progress_bar">
      <div class="bar" style="width: <%= @hash_with_percentege['4'] %>%"></div>
    </div>
    Оплата картой (visa, mastercard)
    <span>(<%= @hash_with_counts['5'] %>)</span>
    <div class="progress_bar">
      <div class="bar" style="width: <%= @hash_with_percentege['5'] %>%"></div>
    </div>
    Другой вариант
    <span>(<%= @hash_with_counts['6'] %>)</span>
    <div class="progress_bar">
      <div class="bar" style="width: <%= @hash_with_percentege['6'] %>%"></div>
    </div>
    Способ оплаты не важен
    <span>(<%= @hash_with_counts['7'] %>)</span>
    <div class="progress_bar">
      <div class="bar" style="width: <%= @hash_with_percentege['7'] %>%"></div>
    </div>

    <div class='count_of_vote'>Кол-во голосов: <span><%= @count %></span></div>
  </div>
</div>