<%= form_for(@order) do |f| %>
  <fieldset>
    <legend>Заполните личные данные</legend>
    <ul>
      <div class="popover prepayment">
        <div class="popover-content">
          <p>Предоплата влияет на конечную стоимость товара! ( <%= link_to 'доставка товаров', to_order_path, target: '_blank' %> )</p>
        </div>
      </div>

      <div class="popover email_hint">
        <div class="popover-content">
          <p>Указывайте реальный e-mail на него будет выслано подтверждение покупки</p>
        </div>
      </div>

      <li>
        <%= f.label :payment_method, "Предоплата <span class=\"orange\">*</span>".html_safe %>
        <%= f.select(:payment_method, options_for_select(Order::PAYMENT_METHOD), { include_blank: true }, required: true ) %>
      </li>

      <li class='error_msg_for_li'>
        <%= f.label :surname, "Фамилия <span class=\"orange\">*</span>".html_safe %>
        <%= f.text_field :surname %>
      </li>
      <li class='error_msg_for_li'>
        <%= f.label :name, "Имя и oтчeствo <span class=\"orange\">*</span>".html_safe %>
        <%= f.text_field :name %>
      </li>
      <li class='error_msg_for_li'>
        <%= f.label :email, "Email <span class=\"orange\">*</span>".html_safe %>
        <%= f.text_field :email,
                         data:        { value: 'email' },
                         placeholder: 'example@gmail.com' %>
      </li>
      <li class='error_msg_for_li'>
        <%= f.label :phone, "Телефон <span class=\"orange\">*</span>".html_safe %>

        <%= f.text_field :phone,
                         #value: f.object.phone.to_s[0..-1],
                         data:        { mask: '(999) 999-9999', value: 'phone' },
                         placeholder: '(___) ___-____' %>

      </li>
      <li>
        <%= f.label :additional_phone, 'Дом. телефон' %>
        <%= f.text_field :additional_phone %>
      </li>
      <li>
        <%= f.label :address, 'Адрес' %>
        <%= f.text_field :address, placeholder: 'ул. Антропова дом 52 кв 15' %>
      </li>
      <li>
        <%= f.label :region, "Область <span class=\"orange\">*</span>".html_safe %>
        <%= f.select :region, Order::REGIONS, { include_blank: true }, required: true %>
      </li>
      <li class='error_msg_for_li'>
        <%= f.label :city, "Город <span class=\"orange\">*</span>".html_safe %>
        <%= f.text_field :city %>
      </li>
      <li>
        <%= f.label :delivery, 'Отделение Нова почта (если знаете)' %>
        <%= f.text_field :delivery, placeholder: 'Горловка №3 ул.Пушкинская' %>
      </li>
      <li>
        <%= f.label :info, 'Доп. информация по доставке:' %>
        <%= f.text_area :info, size: '43x5', placeholder: 'Дополнительные пожелания по доставке...' %>
      </li>
    </ul>
  </fieldset>

  <ul class='terms'>
    <li class='header'>
      <h2>Условия и положения</h2>
    </li>

    <li class='terms_wrapper'>
      <div class='checkbox'>
        <%= f.check_box :terms_of_service, required: true %>
      </div>
      <div class='label'>
        Посредством направления своих персональных (личных) данных на Сайт или передачи персональных данных Администрации Сайта другим способом, Вы соглашаетесь на использование Администрацией Сайта Ваших персональных данных, включая сбор, хранение, использование, уничтожение данных с целью заказа, оплаты, доставки, возврата Товаров, ответа на вопросы, заявки, письма, адресованные через Сайт, обеспечения получения Вами информации о товарах и услугах, скидках и акциях, либо с иной целью, для достижения которой персональные данные были направлены Администрации сайта.
      </div>
    </li>

    <div class="clear"></div>
<!--
    <li class='header'>
      <h2>Условия и положения</h2>
    </li>

    <li class='terms_wrapper'>
      <div class='checkbox witout_btn'>
      </div>
      <div class='label'>
        <a href="/policy"> priveate policy</a>

      </div>
    </li> -->
  </ul>

  <div class="clear"></div>

  <div class='send_order_data'>
    <%= f.submit 'Оформить заказ', class: 'btn_order send_order_data_sbmt paddings' %>
  </div>
<% end %>


