<%= form_for(@order) do |f| %>
  <fieldset>
    <legend>Заполните личные данные</legend>
    <ul>
      <li class='error_msg_for_li'>
        <%= f.label :name, "Имя и oтчeствo <span class=\"orange\">*</span>".html_safe %>
        <%= f.text_field :name %>
      </li>
      <li class='error_msg_for_li'>
        <%= f.label :surname, "Фамилия <span class=\"orange\">*</span>".html_safe %>
        <%= f.text_field :surname %>
      </li>
      <li class='error_msg_for_li'>
        <%= f.label :email, "Email <span class=\"orange\">*</span>".html_safe %>
        <%= f.text_field :email,
                         data:        { value: 'email' },
                         placeholder: 'example@gmail.com' %>
      </li>
      <li class='error_msg_for_li'>
        <%= f.label :phone, "Телефон <span class=\"orange\">*</span>".html_safe %>

        <%= f.text_field :phone,
                         #value: f.object.phone.to_s[0..-1],
                         data:        { mask: '(999) 999-9999', value: 'phone' },
                         placeholder: '(___) ___-____' %>

      </li>
      <li>
        <%= f.label :additional_phone, 'Дом. телефон' %>
        <%= f.text_field :additional_phone %>
      </li>
      <li class='error_msg_for_li'>
        <%= f.label :address, "Адрес <span class=\"orange\">*</span>".html_safe %>
        <%= f.text_field :address, placeholder: 'ул. Антропова дом 52 кв 15' %>
      </li>
      <li class='error_msg_for_li'>
        <%= f.label :city, "Город <span class=\"orange\">*</span>".html_safe %>
        <%= f.text_field :city %>
      </li>
      <li>
        <%= f.label :region, "Область <span class=\"orange\">*</span>".html_safe %>
        <%= f.select :region, Order::REGIONS, { include_blank: true }, required: true %>
      </li>
      <li>
        <%= f.label :pay_type, "Оплата <span class=\"orange\">*</span>".html_safe %>
        <%= f.select :pay_type, Order::PAYMENT_TYPES, { include_blank: true }, required: true %>
      </li>
      <li>
        <%= f.label :info, 'Доп. информация по доставке:' %>
        <%= f.text_area :info, size: '43x5' %>
      </li>
    </ul>
  </fieldset>

  <ul class='terms'>
    <li class='header'>
      <h2>Terms & Conditions</h2>
    </li>

    <li class='terms_wrapper'>
      <div class='checkbox'>
        <%= f.check_box :terms_of_service, required: true %>
      </div>
      <div class='label'>
        Please agree to our Terms & Conditions before proceeding.
        I would like to receive emails from The London Perfume Company about new products,
        events, and other information of interest. The London Perfume Company do not share
        data with third parties.
      </div>
    </li>

    <div class="clear"></div>

    <li class='header'>
      <h2>Privacy Policy?</h2>
    </li>

    <li class='terms_wrapper'>
      <div class='checkbox witout_btn'>
      </div>
      <div class='label'>
        Your personal information is being processed by
        <a href="/policy"> priveate policy</a>
        who respect
        your privacy and is committed to protecting your personal information. We comply with
        the principles of the Data Protection Act 1998 and aim to maintain consistently high
        levels of best practice in our processing of your personal information.
      </div>
    </li>
  </ul>

  <div class="clear"></div>

  <div class='send_order_data'>
    <%= f.submit 'Оформить заказ', class: 'btn_order send_order_data_sbmt' %>
  </div>
<% end %>


