<table class="sale_order_full">
  <tbody>
  <tr>
    <th>Название</th>
    <th>Цвет</th>
    <th>Количество</th>
    <th>Цена</th>
  </tr>
  <% @line_items.each do |item|  %>
    <tr>
      <td class='order_title normal'><%= item.product.title %></td>
      <td align='center' class='normal'><%= rus_name_by item.color %></td>
      <td align='center' class='normal'><%= item.quantity %>шт.</td>
      <td align='right' class='normal'><%= number_to_currency(item.price, unit: 'грн.', format: '%n %u') %></td>
    </tr>
  <% end %>
  <tr>
    <td align="right" class="normal bold">Сумма:</td>
    <td align="right" colspan="6" class="normal  bold"><b>
      <% if @cart.nil? %>
      <%= number_to_currency(@order.total_price, unit: 'грн.', format: '%n %u') %>
      <% else %>
      <%= number_to_currency(@cart.total_price, unit: 'грн.', format: '%n %u') %>
      <% end %>
    </b>
    </td>
  </tr>
  </tbody>
</table>