<table class="sale_order_full">
  <tbody>
    <tr>
      <th>Название</th>
      <th>Цвет</th>
      <th>Количество</th>
      <th>Общая цена</th>
    </tr>
    <% line_items.each do |item|  %>
    <tr>
      <td class='order_title normal'><%= item.product.title %></td>
      <td align='center' class='normal'><%= rus_name_by item.color %></td>
      <td align='center' class='normal'><%= item.quantity %>шт.</td>
      <td align='right' class='normal'><%= number_to_currency(item.price, unit: 'грн.', format: '%n %u', delimiter: "") %></td>
    </tr>
    <% end %>

    <%= render 'orders/sum_of_order', line_items_count: line_items_count, total_price: total_price, payment_method: payment_method %>
  </tbody>
</table>
