<%= render 'bread_crumbs' %>

<div class='wrapper_for_orders'>
  <div class='purchase_order'>
    <%= render 'order_purchase_table', order: @order %>
  </div>

  <fieldset>
    <legend>Личные данные вашего заказа:</legend>

    <div class="popover">
      <div class="popover-content">
        <p>Номер вашего заказа:</p>
        <p>
          <b> №<%= @order.id + Order::START_ID %></b>
        </p>
      </div>
    </div>

    <%= render 'order_info_table' %>
  </fieldset>

  <fieldset>
    <legend>Реквизиты:</legend>
    <%= render 'details' %>
  </fieldset>

  <div class="bootstrap_btn">
    <%= link_to '« На главную', root_path %>
  </div>
</div>
