<legend><h3>Create new category:</h3></legend>

<div id="category_new_perfume">
  <%= form_for [:admin, @category] do |f| %>

    <div class="control-group">
      <%= f.label :name, class: 'control-label' %>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-th-list"></i></span>
          <%= f.text_field :name, id: 'inputCategory', placeholder: 'Category', autofocus: true %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Add', class: 'btn btn-success' %>
      </div>
    </div>

  <% end %>
</div>

<%= link_to 'All categories', admin_categories_path, class: 'btn btn-inverse btn_back' %>