<div class="control-group">
  <%= f.label :title, 'Title: ', class: 'control-label' %>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_field :title, id: 'inputTitle', placeholder: 'Title of perfume' %>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :price, 'Price: ', class: 'control-label' %>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_field :price, id: 'inputPrice', placeholder: '26.80' %>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :old_price, 'Old Price: ', class: 'control-label' %>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_field :old_price, id: 'inputOldPrice', placeholder: '26.80' %>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :rank, 'Rank: ', class: 'control-label' %>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_field :rank, id: 'inputRank', placeholder: '0' %>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :gender, 'Gender: ', class: 'control-label' %>
  <div class="controls">
    <% Gender.all.each do |gender| %>
      <label class="checkbox inline">
        <%= check_box_tag 'product[gender_ids][]', gender.id, @product.gender_ids.include?(gender.id) %>
        <%= gender.gender %>
      </label>
    <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :color, 'Цвет: ', class: 'control-label' %>
  <div class="controls">
    <% Colour.all.each do |color| %>
      <label class="checkbox inline">
        <%= check_box_tag 'product[colour_ids][]', color.id, @product.colour_ids.include?(color.id) %>
        <%= color.name %>
      </label>
    <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :description, 'Описание продукта: ', class: 'control-label' %>
  <div class="controls">
    <div class="input-prepend">
      <%= f.text_area :description, id: 'text_area', class: 'redactor', placeholder: 'Добавить описание товара!' %>
    </div>
  </div>
</div>

<div class="control-group">
  <%= f.label :category, 'Категория: ', class: 'control-label' %>
  <div class="controls">
    <% Category.all.each do |category| %>
      <label class="checkbox inline">
        <%= check_box_tag 'product[category_ids][]', category.id, @product.category_ids.include?(category.id) %>
        <%= category.name %>
      </label>
    <% end %>
  </div>
</div>

<div class="control-group">
  <%= f.label :brand_id, 'Бренд: ', class: 'control-label' %>
  <div class="controls">
    <%= collection_select(:product, :brand_id, Brand.all, :id, :name, prompt: 'Выбери бренд') %>
  </div>
</div>

<% if @product.video_href %>
  <div class="control-group">
    <%= f.label :video, 'Video: ', class: 'control-label' %>
    <div class="controls">
      <iframe class='iframe_video' src="<%= @product.video_href %>"></iframe>
    </div>
  </div>
<% end %>

<div class="control-group">
  <div class="controls">
    <%= f.submit 'Create', class: 'btn btn-success' %>
  </div>
</div>