<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div id="paginator">
  <%= paginate @products, window: 2 %>
</div>
<table id='table' class='table table-striped span12'>
  <thead style="text-align: center">
  <th style="width: 2%"><%= sortable 'id' %></th>
  <th style="width: 4%">Image</th>
  <th style="width: 11%">Title</th>
  <th style="width: 35%">Desription</th>
  <th style="width: 6%"><%= sortable 'price' %></th>
  <th style="width: 10%">Actions</th>
  </thead>

  <tbody id="products_body">
  <%= render @products %>
  </tbody>
</table>