<tr>
  <td style='text-align: center;'><%= product.id %></td>
  <td><%= image_tag small_image_by_product(product), alt: "Small img" %></td>
  <td><%= link_to truncate(product.title, length: 35), admin_product_path(product.id) %></td>
  <td><%= truncate(product.description, length: 140) %></td>
  <td style='padding-left: 22px;'><%= product.price %> грн</td>
  <td style='text-align: center;'>
    <%= link_to 'edit', edit_admin_product_path(product.id), class: 'btn' %>
    <%= link_to 'delete', admin_product_path(product.id), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %>
  </td>
  <td style='text-align: center;'>
  	<%= best_sellers_tag(product.id, product.bestseller, @best_count) %>
  </td>
</tr>
