<tr>
  <td><%= product.id %></td>
  <td><%= link_to truncate(product.title, length: 25), admin_product_path(product.id) %></td>
  <td><%= truncate(product.description, length: 70) %></td>
  <td><%= product.price %> грн</td>
  <td>
    <div class="in_stock_<%= product.in_stock ? 'true' : 'false' %>"></div>
  </td>
  <td>
    <%= link_to 'edit', edit_admin_product_path(product.id), class: 'btn' %>
    <%= link_to 'delete', admin_product_path(product.id), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %>
  </td>
</tr>
