<blockquote>
  <h2>Perfumes:</h2>
</blockquote>
<% if @products.any? %>


  <%= form_tag admin_products_path, method: 'get', id: 'products_search', class: 'form-search' do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], autocomplete: :off, class: 'span2 search-query' %>
      <%= submit_tag 'Search', name: nil, class: 'btn' %>
    </div>
    <div id="perfume_table">
      <%= render 'perfume_table' %>
    </div>

  <% end %>
<% end %>
<%= link_to 'New', new_admin_product_path, class: 'btn btn-success perfume_new_btn custom_black_btn' %>