<div id="box_of_perfume_show">
  <div id="perfume_main_image">
    <%= image_tag('admin/no_image_yet.jpg', alt: 'no_image') %>
    <div id="perfume_category">
      Brand of perfume:
      <ul>
        <li><i class="icon-star"></i><%= link_to @product.brand.name, '#' %></li>
      </ul>

      Category of perfume:
      <ul>
        <% @product.categories.each do |category| %>
          <li><i class="icon-tag"></i><%= link_to category.name, '#' %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id="description">
    <div id="perfume_title">
      <%= @product.title %>
    </div>
    <div id="perfume_description">
      <%= @product.description %>
    </div>
    <div id="perfume_price">
      Цена: <span><%= @product.price %></span> грн.
    </div>
  </div>
  <div id="perfume_instock" class='perfume_instock_<%= @product.in_stock ? 'true' : 'false' %>'></div>
  <div class="clear"></div>
  <div id="perfume_actions">
    <%= link_to 'All', admin_products_path, class: 'btn' %>
    <%= link_to 'Edit', edit_admin_product_path(@product.id), class: 'btn btn-warning' %>
    <%= link_to 'Delete', admin_product_path(@product.id), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %>
  </div>
</div>
