<ul>
  <li>
    <dt>Номер заказа:</dt>
    <dd>№ <%= @order.id + Order::START_ID %></dd>
  </li>
  <li>
    <dt>Предоплата:</dt>
    <dd>???</dd>
    <!-- <dd><%= prepayment(@order.payment_method) %></dd> -->
  </li>

  <li>
    <dt>Фамилия Имя Отчество</dt>
    <dd><%= @order.surname %>, <%= @order.name %></dd>
  </li>

  <li>
    <dt>Телефон</dt>
    <dd><%= @order.phone %></dd>
  </li>

  <% if @order.region.present? %>
  <li>
    <dt>Область</dt>
    <dd><%= @order.region %></dd>
  </li>
  <% end %>

  <% if @order.city.present? %>
  <li>
    <dt>Город</dt>
    <dd><%= @order.city %></dd>
  </li>
  <% end %>

  <% if @order.address.present? %>
  <li>
    <dt>Адрес</dt>
    <dd><%= @order.address %></dd>
  </li>
  <% end %>

  <% if @order.email.present? %>
  <li>
    <dt>Email</dt>
    <dd><%= @order.email %></dd>
  </li>
  <% end %>

  <% if @order.delivery.present? %>
  <li>
    <dt>Доставка на адрес</dt>
    <dd><%= @order.delivery %></dd>
  </li>
  <% end %>

  <% if @order.additional_phone.present? %>
    <li>
      <dt>Доп. телефон</dt>
      <dd><%= @order.additional_phone %></dd>
    </li>
  <% end %>

  <% if @order.info.present? %>
    <li>
      <dt>Доп. информация о заказе</dt>
      <dd><%= @order.info %></dd>
    </li>
  <% end %>

  <li>
    <dt>Время заказа</dt>
    <dd class="successfully"><%= @order.updated_at.localtime.strftime("%b %d '%Y, %H:%M") %></dd>
  </li>
</ul>
