<div class="menu">
  <div class="header">
    Refine Products
  </div>

  <div class="section">
    <h3>Product Type:</h3>

    <ul>
      <% @categories.each do |category| %>
        <% checked_type = false %>
        <% checked_type = true if category.name == params[:product_type] %>

        <li>
          <label>
            <%= check_box_tag 'product_type', category.name, checked_type %>
            <%= category.name %>
          </label>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="section">
    <h3>Бренды:</h3>
    <ul id="brands_section">
      <%= render partial: 'products/brand', collection: @brands %>
    </ul>
  </div>

  <div class="section">
    <h3>Price:</h3>

    <ul>
      <% @price_hash.each_pair do |key, value| %>
        <% checked_price = false %>
        <% checked_price = true if key == params[:price_between] %>

        <li>
          <label>
            <%= check_box_tag 'price_between', key, checked_price %>
            <%= value %>
          </label>
        </li>
      <% end %>
    </ul>

  </div>
</div>