<div class="menu">
  <div class="header">
    Выберете продукт:
  </div>

  <div class="section categories_bar">
    <h3>Категории:</h3>

    <ul id='categories_section'>
      <%= render partial: 'products/category', collection: @categories %>
    </ul>
  </div>

  <div class="section brand_bar">
    <h3>Бренды:</h3>
    <ul class="brands_section">
      <%= render partial: 'products/brand', collection: @brands %>
    </ul>
  </div>

  <div class="section gender_bar">
    <h3>Пол:</h3>
    <ul>
      <%= render partial: 'products/gender', locals: { genders: @genders } %>
    </ul>
  </div>

  <div class="section color_bar">
    <h3>Цвет:</h3>
    <ul class="brands_section">
      <%= render partial: 'products/hstore_tags', locals: { params_array: params[:color_params] , current_array: Colour::COMMON_COLORS_RUS } %>
    </ul>
  </div>

  <div class="section material_bar">
    <h3>Материал:</h3>
    <ul class="brands_section">
      <%= render partial: 'products/hstore_tags', locals: { params_array: params[:material_params] , current_array: Product::MATERIAL } %>
    </ul>
  </div>

  <div class="section zipper_bar">
    <h3>Закрытие:</h3>
    <ul class="brands_section">
      <%= render partial: 'products/hstore_tags', locals: { params_array: params[:zipper_params] , current_array: Product::CLOSING_TYPE } %>
    </ul>
  </div>

  <div class="section feature_bar">
    <h3>Особенности:</h3>
    <ul class="brands_section">
      <%= render partial: 'products/hstore_tags', locals: { params_array: params[:feature_params] , current_array: Product::FEATURES } %>
    </ul>
  </div>

  <div class="section price_bar">
    <h3>Цена (грн):</h3>
    <%= hidden_field_tag 'leftValue' %>
    <%= hidden_field_tag 'rightValue' %>
    <!-- <div>width: 250, roundUp: 50, leftLimit: 100, leftValue: 500, rightLimit: 5000, rightValue: 1500</div> -->
    <script type="text/javascript">

    trackbar.getObject('one').init({
      onMove : function() {
        $('#leftValue').val(this.leftValue).change();
        $('#rightValue').val(this.rightValue).change();
      },
      width : 140, // px
      leftLimit : 0, // unit of value
      leftValue : 0, // unit of value
      rightLimit : 3000, // unit of value
      rightValue : 3000, // unit of value
      roundUp : 5, // unit of value
    });
    </script>
  </div>
  <div class='section search_bar'>
    <button id='custom-find' class='btn_order' onclick="handler(event)" >Начать поиск</button>
  </div>
</div>

<script>
  function handler(event) {
    event.preventDefault ? event.preventDefault() : (event.returnValue=false);
  }
</script>
