<div class="menu">
  <div class="header">
    Выберете продукт:
  </div>

  <div class="section categories_bar">
    <h3>Категории:</h3>

    <ul id='categories_section'>
      <%= render partial: 'products/category', collection: @categories %>
    </ul>
  </div>

  <div class="section brand_bar">
    <h3>Бренды:</h3>
    <ul id="brands_section">
      <%= render partial: 'products/brand', collection: @brands %>
    </ul>
  </div>

  <div class="section gender_bar">
    <h3>Gender:</h3>
    <ul>
      <%= render partial: 'products/gender', collection: @genders %>
    </ul>
  </div>

  <div class="section color_bar">
    <h3>Цвет:</h3>
    <ul>
      <%= render partial: 'products/color', collection: @colors %>
    </ul>
  </div>

  <div class="section price_bar">
    <h3>Цена (грн):</h3>
    <%= hidden_field_tag 'leftValue' %>
    <%= hidden_field_tag 'rightValue' %>
    <!-- <div>width: 250, roundUp: 50, leftLimit: 100, leftValue: 500, rightLimit: 5000, rightValue: 1500</div> -->
    <script type="text/javascript">

    trackbar.getObject('one').init({
      onMove : function() {
        $('#leftValue').val(this.leftValue).change();
        $('#rightValue').val(this.rightValue).change();
      },
      width : 140, // px
      leftLimit : 0, // unit of value
      leftValue : 0, // unit of value
      rightLimit : 2500, // unit of value
      rightValue : 2500, // unit of value
      roundUp : 5, // unit of value
    });
    </script>

  </div>
</div>
