<div class="menu">
  <div class="header">
    Refine Products
  </div>

  <div class="section categories_bar">
    <h3>Категории:</h3>

    <ul id='categories_section'>
      <%= render partial: 'products/category', collection: @categories %>
    </ul>
  </div>

  <div class="section brand_bar">
    <h3>Бренды:</h3>
    <ul id="brands_section">
      <%= render partial: 'products/brand', collection: @brands %>
    </ul>
  </div>

  <div class="section gender_bar">
    <h3>Gender:</h3>
    <ul>
      <%= render partial: 'products/gender', collection: @genders %>
    </ul>
  </div>

  <div class="section color_bar">
    <h3>Color:</h3>
    <ul>
      <%= render partial: 'products/color', collection: @colors %>
    </ul>
  </div>

  <div class="section price_bar">
    <h3>Price:</h3>

    <ul>
      <% @price_hash.each_pair do |key, value| %>
        <li>
          <label>
            <%= check_box_tag 'price_between', key %>
            <%= value %>
          </label>
        </li>
      <% end %>
    </ul>

  </div>
</div>
