<%= form_tag({}, method: 'get', :id => 'form_sort',) do %>

  <div id="menu_bar">
    <div id="breadcrumb">
      <ul>
        <li><a href="/"> Home </a></li>
        <li>&raquo; For Her</li>
      </ul>
      <div class="clear"></div>
    </div>

    <%= render 'menu_nav' %>
  </div>

  <div id="items_bar">
    <div id="sort_bar">
      <div class="class_name">
        Для неё!
      </div>
      <div class="sort">
        Сортировать по:

        <%= select_tag(:sort_by, options_for_select(@sort_hash, params[:sort_by]),
                       class: 'sortdropdown',
                       include_blank: true) %>

      </div>
      <div class="clear"></div>
      <div class="underline"></div>
    </div>

    <div id="items">
      <ul>
        <div id='products_displaying'>
          <% if @products.size > 0 %>
            <%= render @products %>
          <% else %>
            <div id="no_match_criteria">
              К сожалению, не найдено результатов, соответствующих Вашим критериям
            </div>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
<% end %>
<div class="clear"></div>

<div><%= paginate @products %></div>

<% if @products.count>=6 %>
  <div id="ednless_paginator">Показать еще...</div>
<% end %>
<div class="clear"></div>
