<% if @flag %>
	console.log( <%= @products.size %> );

	<% if @products.size > 0 %>
    $('#products_displaying').html("<%= j render(@products) %>");
  <% else %>
  	$('#products_displaying').html("<div id='no_match_criteria'>К сожалению, не найдено результатов, соответствующих Вашим критериям</div>")
  <% end %>


	$('.pagination').replaceWith('<%= j paginate(@products) %>');

	if ($('.pagination ul li').last().hasClass('disabled')) {
	  $('#ednless_paginator').remove();
	}

<% else %>

	$('#products_displaying').append('<%= j render(@products) %>');
	$('.pagination').replaceWith('<%= j paginate @products %>');

	if ($('.pagination ul li').last().hasClass('disabled')) {
	  $('#ednless_paginator').remove();
	}

<% end %>
