<div id="menu_bar">
  <div id="breadcrumb">
    <ul>
      <li><a href="/">На главную</a></li>
      <li>&raquo; <%= back_to_products('Товары') %></li>
      <li>&raquo; <%= @product.title %></li>
    </ul>
    <div class="clear"></div>
  </div>

  <div class='FormWrapper'>
  <%= form_for "line_item", url: line_items_path do |f| %>
    <div class='product_image'>
      <div class='image_polaroid'>
        <%= image_tag show_list_image(@product), id: 'zooming', data: { :"zoom-image" => show_list_image_large(@product) } %>
      </div>

      <div class='color_select'>
        <span>Расцветка:</span>
        <%= f.select 'color', options_from_collection_for_select(@colors_name, "name", "name_rus") %>
      </div>

      <div id="all_images_wrapper">
        <% if @images_count %>
          <div class="prev_img"></div>
        <% end %>
          <div id='wrap_image_rotator'>
            <div id="slider" style="left: 0px;">
              <%= render partial: 'images', collection: @product_colors, as: :color %>
            </div>
          </div>
        <% if @images_count %>
          <div class="next_img"></div>
        <% end %>
      </div>

      <%= back_to_products('« Back to Results', 'get_back') %>
    </div>

    <div class="product_info">
      <% if @product.video_href %>
        <div id="video_space">
          <div class="video_slider btn_order">Показать Видео</div>
          <div class="iframe_video_wrapper">
            <iframe class='iframe_video' src="<%= @product.video_href %>"></iframe>
          </div>
        </div>
        <div class="clear"></div>
      <% end %>

      <div class='title_of_product'>
        <span class='brand_of_product'><%= @product.brand.name %>:</span><%= @product.title %>
      </div>

      <div class="description_of_product undoreset">
        <%= @product.description.try(:html_safe) %>
      </div>

      <!-- <a href='/delivery' class='get_back link_color'>Просмотреть возможные способы доставки</a> -->

      <div class='actions_for_product'>
        <%= f.hidden_field 'current_product', value: @product.id %>
        <%= f.submit 'Добавить в корзину', class: 'btn_order adding_to_cart' %>

        <div class="price">
          <span class="price_count">цена:</span>
          <span class="price_inscription"><%= number_to_currency(@product.price, unit: 'грн.', format: '%n %u') %></span>
          <% if @product.old_price? %>
            <span class="old_price_stock"><del><%= number_to_currency(@product.old_price, unit: 'грн.', format: '%n %u') %></del></span>
          <% end %>
        </div>

        <div class="clear"></div>
      </div>

      <div class='main_color_select'>
        <span>Цвет:</span>
        <%= f.select 'color', options_from_collection_for_select(@colors_name, 'name', 'name_rus') %>
      </div>

    </div>
  <% end %>
  </div>
</div>
<div class="clear"></div>
