<div id="menu_bar">
  <div id="breadcrumb">
    <ul>
      <li><a href="/">Home</a></li>
      <li>&raquo; <%= back_to_products('Perfumes') %></li>
      <li>&raquo; <%= @product.title %></li>
    </ul>
    <div class="clear"></div>
  </div>

  <div>
    <div class='product_image'>
      <div class='image_polaroid'>
        <%= image_tag middle_image(@product), id: 'zooming', data: { :"zoom-image" =>   @product.images.first.large } %>
      </div>

      <div id="all_images_wrapper">
        <div class="prev_img"></div>
        <div id='wrap_image_rotator'>
          <ul id="slider" style="left: 0px;">
            <%= render partial: 'images', collection: @product.images, as: :image %>
          </ul>
        </div>
        <div class="next_img"></div>
      </div>

      <%= back_to_products('« Back to Results', 'get_back') %>
    </div>

    <div class="product_info">
      <% if @product.video_href %>
        <div id="video_space">
          <div class="video_slider btn_order">Show video</div>
          <div class="iframe_video_wrapper">
            <iframe class='iframe_video' src="<%= @product.video_href %>"></iframe>
          </div>
        </div>
        <div class="clear"></div>
      <% end %>

      <div class='title_of_product'>
        <span class='brand_of_product'><%= @product.brand.name %>:</span><%= @product.title %>
      </div>

      <div class="description_of_product">
        <%= @product.description %>
      </div>

      <a href='/delivery' class='get_back link_color'>Просмотреть возможные способы доставки</a>

      <div class='actions_for_product'>
        <% if @product.in_stock? %>
          <div class='in_stock yes'>Есть в наличии</div>
          <%= button_to 'Добавить в корзину', line_items_path(product_id: @product.id), class: 'btn_order right' %>

        <% else %>
          <div class='in_stock no'>Нет в наличии</div>
        <% end %>

        <div class="price">
          <span class="price_count">цена:</span>
          <span class="price_inscription"><%= number_to_currency(@product.price, unit: 'грн.', format: '%n %u') %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
