<div class="review_item">
	<%= image_with_link(review.url_id) %>
	<p>
		<span>Сроки доставки:</span>
		<%= review.delivery_time %>
	</p>
	<% if review.quality.present? %>
		<p>
			<span>Качество и соответствие заказу:</span>
			<%= review.quality %>
		</p>
	<% end %>

	<% if review.suggestions.present? %>
		<p>
			<span>Пожелания:</span>
			<%= review.suggestions %>
		</p>
	<% end %>
	<div class='critic'>- <%= review.full_name %>, <%= review.address %></div>
</div>
