<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'К сайту', root_path, class: 'brand' %>

        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to 'Все Парфюмы', admin_products_path %></li>
            <li><%= link_to 'Категории', admin_categories_path %></li>
            <li><%= link_to 'Бренды', admin_brands_path %></li>
            <li><%= link_to 'Заказы', admin_orders_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>

