<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Vako!' %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= analytics_init if Rails.env.production? %>

  <%= csrf_meta_tags %>
</head>

<body class = "<%= controller.controller_name %> <%= controller.action_name %>" >
  <div id='sitewrapper'>
    <div id="content">
      <%= render 'shared/admin' %>
      <%= render 'shared/flash_messages' %>
      <%= render 'shared/header' %>
      <%= render 'shared/main_menu' %>
      <%= yield %>
    </div>
    <div class="footer_to_bottom"></div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
